<div onload="carrusel()" >
  <div id="carousel-example-1z" class="carousel slide carousel-fade" data-ride="carousel" style="width:50%;text-align:center">
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-1z" data-slide-to="1"></li>
      <li data-target="#carousel-example-1z" data-slide-to="2"></li>
    </ol>
  <div class="carousel-inner" role="listbox" id="divcarrusel"></div>
  </div>  
</div>

<router-outlet></router-outlet>